.bear {
  --color-bear: #952;
  --color-bear-light: #a63;
  --rvx: 1;
  --rvy: 1;
}

.bear .sprite {
  transition: transform 1s;
  width: 24px;
  height: 30px;
  box-shadow: calc(var(--rvx) * 3px) calc(var(--rvy) * 3px) 6px var(--color-shadow);
  border-radius: 6px;
}

.bear .body {
  width: 24px;
  height: 30px;
  background: var(--color-bear);
  border-radius: 6px;
}

.bear .head {
  width: 28px;
  height: 16px;
  transform: translate(0, -16px);
}

.bear .head:before {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  content: '';
  background: var(--color-bear-light);
  border-radius: 4px;
  box-shadow: calc(var(--rvx) * 2px) calc(var(--rvx) * 2px) 4px #0003, 2px 0 2px -1px #0004;
}

.bear .nose {
  z-index: -1;
  background: #a63;
  width: 10px;
  height: 8px;
  transform: translate(0, -9px);
  border-top: 2px solid #000;
  border-radius: 6px;
}

.bear .ear {
  background: var(--color-bear);
  width: 10px;
  height: 6px;
  transform: translate(-12px, 0);
  border-radius: 2px;
  box-shadow: 0 0 1px #0005;
}

.bear .ear + .ear {
  transform: translate(12px);
}

.bear .tail {
  background: var(--color-bear-light);
  width: 8px;
  height: 8px;
  transform: translate(0, 14px);
  border-radius: 50%;
  box-shadow: 0 0 2px #0004;
}
