.building.object {
  z-index: 1; /* Over the top of things like containers and the player */
}

.building .wall {
  width: 150px;
  height: 150px;
  border-radius: 12px;
  border: 8px solid #fff;
  box-shadow:  20px 20px 60px #0003,
              -20px -20px 60px #fff,
              inset 0 0 20px 0 #0003;
  pointer-events: none;
}

.building .roof {
  width: 150px;
  height: 150px;
  border-radius: 12px;
  border: 8px solid #fff;
  background: #f9f9f9;
  box-shadow:
    0 0 0 70vmax #0000,
    0 0 100px 100px #0000;
  transition: box-shadow .4s;
}

.building.player-inside .roof {
  background: unset;
  box-shadow:
    0 0 0 70vmax #0005,
    0 0 100px 100px #0001;
  transition: box-shadow .4s;
}
