.pond {
  border-radius: 50%;
  background: #ade;
  background-image:
    linear-gradient(
      -66deg,
      #ade 40%,
      #ade0 41% 60%
    ),
    linear-gradient(
      24deg,
      #fff0 20%,
      #fff3
    );
  width: var(--size);
  height: var(--size);
  box-shadow:
    inset 0 0 calc(var(--size) / 2) #fffa,
    inset 2px 2px 6px #0133,
    inset 2px 2px 6px #fff;
}
