.inventory {
  position: absolute;
  width: 800px;
  height: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.4);
  padding: 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.tab {
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tab-player {
  width: 60%;
}

.tab-container {
  width: 40%;
}

.row {
  background: rgba(255, 255, 255, 1);
  width: 100%;
  color: black;
  display: flex;
  align-items: center;
  padding: 10px 15px;
}

.row.highlight {
  background: rgb(247, 255, 177)
}

.stats {
  position: absolute;
  bottom: 20px;
  left: 20px;
  padding: 10px;
  display: flex;
  gap: 10px;
  background: rgba(0, 0, 0, 0.03);
}

@property --p {
  syntax: '<percentage>';
  initial-value: 100%;
  inherits: false;
}

.progress {
  transition: --p 0.2s;
  --p: 100%;
  width: 25px;
  height: 100px;
  background: linear-gradient(to top, white var(--p), rgba(200, 200, 200) 0);
  box-shadow: inset red 0px 0px 12px var(--spread);
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress .text {
  transform: rotate(-90deg);
}

.gameover {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.gameover .title {
  font-weight: bold;
  font-size: 6em;
}

.gameover .message {
  font-size: 1.5em;
  text-align: center;
}
