.inventory {
  position: absolute;
  width: 800px;
  height: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.4);
  padding: 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.tab {
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tab-player {
  width: 60%;
}

.tab-container {
  width: 40%;
}

.row {
  background: rgba(255, 255, 255, 1);
  width: 100%;
  color: black;
  display: flex;
  align-items: center;
  padding: 10px 15px;
}

.stats {
  position: absolute;
  bottom: 20px;
  left: 20px;
  padding: 10px;
  display: flex;
  gap: 10px;
  background: rgba(0, 0, 0, 0.03);
}

@property --p {
  syntax: '<percentage>';
  initial-value: 100%;
  inherits: false;
}

.progress {
  transition: --p 0.2s;
  --p: 100%;
  width: 20px;
  height: 80px;
  background: linear-gradient(to top, white var(--p), rgba(200, 200, 200) 0);
}
