@import '_bear.css';
@import '_building.css';
@import '_bullet.css';
@import '_container.css';
@import '_door.css';
@import '_object.css';
@import '_player.css';
@import '_pond.css';
@import '_rock.css';
@import '_sprite.css';
@import '_tracks.css';
@import '_tree.css';
@import '_ui.css';

*,
*::before,
*::after {
  box-sizing: border-box;
  cursor: default;
  user-select: none;
}

*[aria-hidden='true'] {
  display: none !important;
}

:root {
  --color-shadow: #0125;
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body {
  margin: 0;
  background: #efeff0;
  font-family: sans-serif;
}

.click-checker {
  position: absolute;
  width: 100%;
  height: 100%;
}

.target .sprite {
  outline: 3px solid #0efa;
  outline-offset: 2px;
}

.button {
  padding-inline: 2rem;
  height: 3rem;
  border-radius: 10px;
  border: unset;
  background: #ccc;
  box-shadow:
    4px 4px 16px #4440,
    16px 16px 48px #444,
    -16px -16px 48px #ddd;
  transition: all .2s;
  font-size: 18px;
}

.button:hover {
  background: #d1d1d1;
  box-shadow:
    4px 4px 16px #4449,
    16px 16px 48px #444,
    -16px -16px 48px #ddd;
}

.fps {
  position: relative;
  z-index: 100;
}
