@import '_object.css';
@import '_sprite.css';
@import '_bear.css';
@import '_player.css';
@import '_rock.css';
@import '_tree.css';
@import '_building.css';
@import '_container.css';
@import '_ui.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

*[aria-hidden='true'] {
  display: none !important;
}

:root {
  --color-shadow: #0125;
}

body {
  margin: 0;
  background: #efeff0;
  font-family: sans-serif;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.fps {
  position: relative;
  z-index: 100;
}
