.overlay {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}

.stats {
  position: absolute;
  bottom: 20px;
  left: 20px;
  padding: 10px;
  display: flex;
  gap: 10px;
  background: rgba(0, 0, 0, 0.03);
}

@property --p {
  syntax: '<percentage>';
  initial-value: 100%;
  inherits: false;
}

.progress {
  transition: --p 0.2s;
  --p: 100%;
  width: 25px;
  height: 100px;
  background: linear-gradient(to top, white var(--p), rgba(200, 200, 200) 0);
  box-shadow: inset red 0px 0px 12px var(--spread);
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress .text {
  transform: rotate(-90deg);
}

.gameover {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.gameover .title {
  font-weight: bold;
  font-size: 6em;
}

.gameover .message {
  font-size: 1.5em;
  text-align: center;
}

.title-screen {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.title-screen .title {
  font-weight: bold;
  font-size: 6em;
}

.title-screen .message {
  font-size: 1.25em;
  line-height: 1.5;
  text-align: center;
  max-width: 750px;
}
