:root {
  --health-bar-height: 48px;
  --stats-width: 48px;
  --stats-height: var(--stats-width * 2);
  --ui-gap: 12px;
}

.ui {
  display: grid;
  grid-template-columns:
    var(--stats-width) 1fr 1fr var(--stats-width);
  grid-template-rows: 1fr auto 1fr;
  min-height: 100vh;
  min-width: 100vw;
  isolation: isolate; /* New stacking context so always on top of game world */
  padding: var(--ui-gap);
  gap: var(--ui-gap);
}

.ui .health-bar {
  grid-row: 1;
  grid-column: 1 / 3;
  background: #f006;
  height: var(--health-bar-height);
}

.ui .stats {
  grid-row: 1 / 3;
  grid-column: 1;
  margin-top: calc(var(--health-bar-height) + var(--ui-gap));
  margin-bottom: auto;
}

.ui .day-counter {
  grid-row: 1;
  grid-column: 3 / 5;
  background: #0ff9;
  text-align: right;
}

.ui .inventory-container {
  grid-row: 2;
  grid-column: 2 / 4;
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
}

.overlay {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}

.stats {
  display: grid;
  gap: var(--ui-gap);
}

@property --p {
  syntax: '<percentage>';
  initial-value: 100%;
  inherits: false;
}

.progress {
  transition: --p 0.2s;
  --p: 100%;
  width: 48px;
  height: 96px;
  background: linear-gradient(to top, white var(--p), rgba(200, 200, 200) 0);
  box-shadow: inset red 0px 0px 12px var(--spread);
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress .text {
  transform: rotate(-90deg);
}

.gameover {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.gameover .title {
  font-weight: bold;
  font-size: 6em;
}

.gameover .message {
  font-size: 1.5em;
  text-align: center;
}

.title-screen {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.title-screen .title {
  font-weight: bold;
  font-size: 6em;
}

.title-screen .message {
  font-size: 1.25em;
  line-height: 1.5;
  text-align: center;
  max-width: 750px;
}
